# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
app/bin/main/org/example/App.class
app/bin/test/org/example/AppTest.class
gradlew.bat
